os: linux
dist: bionic
language: java
services:
  - docker

install: skip
script:
  - echo $TRAVIS_PULL_REQUEST_IS_DRAFT
  - if [ "$TRAVIS_PULL_REQUEST_IS_DRAFT" = "true" ]; then echo "This is a draft PR"; fi
  - env  # This will print all the environment variables
jobs:
  include:
    - name: failing
      script: true
after_success:
  - echo done
  - echo $TRAVIS_TEST_RESULT

