os: linux

vm:
  size: [large]
language: java
services:
  - docker
cache: bundler
dist: bionic


install: skip
script:
  - echo $TRAVIS_PULL_REQUEST_IS_DRAFT
  - if [ "$TRAVIS_PULL_REQUEST_IS_DRAFT" = "true" ]; then echo "This is a draft PR"; fi




  


